# temp
temp/
theory/
output/

# models
*.udpipe

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
ENV/
env.bak/
venv.bak/
# pyenv
.python-version

# Distribution / packaging
dev/
venv/
output/
.idea
.Python
build/
develop-eggs/
dist/